*{
    font-family: 'Bree Serif', serif !important;
    box-sizing: border-box;
    padding: 0 !important;
}
html{
    scrollbar-width: thin !important;
    scroll-behavior: smooth !important;
}

body{
    font-family: 'Bree Serif', serif !important;
    color: white !important;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin !important;
}
/* <!-- First section start --> */
.section1{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    position: relative;
    z-index: 99999;
}
.section1 div{
    width: 50%;
}
.section1 .introname{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../images//firstbg.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%; */
   padding: 0px 50px 0px 150px !important;
}
.introname h1{
    font-family: 'Berkshire Swash', cursive !important;
    font-size: 50px;
    margin-bottom: 18px !important;
}
.introname p span{
    background-color: red;
    padding: 1px 3px 2px 3px!important;
    margin: 2px !important;
}
.aboutme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 0.3px;
    color: rgb(160, 159, 159);
    font-style: italic;
    margin-top: 8px !important;
}
.buttondiv{
    margin: 40px 0px 20px 0px  !important;
}

.buttondiv a{
    padding: 8px 15px !important;
    background-color: rgb(4, 151, 4);
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.buttondiv a:hover{
    background-color: green;
}
a:hover{
    text-decoration: none;
    color: rgb(228, 224, 224);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.section1 .firstbgdiv img{
    max-width: 700px;
}
.svgsapefirst{
    position: absolute;
    bottom:-300px;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    z-index: 0 !important;
  
}





/* <!-- Second section start --> */
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem !important;
    flex-wrap: wrap !important;
    padding: 100px  0px 200px 0px !important;
}
.headtag{
    font-family: 'Satisfy', cursive !important;
    color: white !important;
    margin-bottom: 10px !important;
}

.section2 .aboutme{
    padding: 0px 50px 0px 150px !important;
    text-align: justify;
    width: 60%;
}
.secondsidediv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0px 100px 0px 0px !important;
    transition: 0.4s linear ease-in-out;
    -webkit-transition: 0.4s linear ease-in-out;
    -moz-transition: 0.4s linear ease-in-out;
    -ms-transition: 0.4s linear ease-in-out;
    -o-transition: 0.4s linear ease-in-out;
}
.secondsidediv img{
    max-width: 400px;
    background-color: rgb(0, 0, 0);
    border-radius: 53% 71% 46% 50%;
    -webkit-border-radius: 53% 71% 46% 50%;
    -moz-border-radius: 53% 71% 46% 50%;
    -ms-border-radius: 53% 71% 46% 50%;
    -o-border-radius: 53% 71% 46% 50%;
}
.aboutme p{
    /* font-family: 'Satisfy', cursive !important; */
    font-size: 18px;
    line-height: 1.5;
}

/* <!-- Third section start --> */
.section3{
    padding: 50px 150px 50px 150px !important;
    /* height: 400px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.692)), url('../images/giphy.gif');
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skillsbox img{
    height: 100px;
    width: 100px;
    background-color: rgb(37, 37, 37);
    padding: 20px !important;
    box-shadow: 0px 0px 4px 0px rgba(182, 180, 180, 0.644);
    margin: 10px !important;
}
.skillsbox img:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/* <!-- Forth section start --> */

.section4{
    margin: 4rem 0 8rem 0 !important;
}
.criview{
    margin-bottom: 1rem !important;
}

.carousel-item img{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(2, 175, 2);
}
.carousel-item p{
   padding: 10px 250px 10px 250px !important;
    font-size: 18px;
}
.itlik{
    font-style: italic;
    font-size: 14px !important;
    color: rgb(4, 184, 4);
}

/* <!-- Fifth section start --> */

.section5{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
    padding-top: 20px !important;
    background-attachment: fixed;
}
.section5::before{
    content: '';
    height: 20px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 30px;
    z-index: 99999999999999;
}
.section5CoverDiv{
    overflow: hidden;
    overflow-x: scroll;
    margin: 2rem 10px 2rem 10px !important;
    padding: 15px !important;
    /* background-color: black; */
    scrollbar-width: thin !important;
    display: flex; 
    scroll-behavior: smooth !important;
}

.portfoliobox{
    margin: 8px !important;
    height: 280px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.877);
    position: relative;

}
.portfoliobox:hover img{
    height: 300px;
    width: 280px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.portfoliobox img{
    height: 280px;
    width: 250px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.portfoliobox p{
    position: absolute;
    background-color: rgb(4, 151, 4);
    z-index: 9999;
    bottom: -30px;
    left: 0;
    display: block;
    width: 100%;
    padding: 5px !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.portfoliobox:hover p{
    bottom: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.section5 button{
    background-color: rgb(3, 167, 3);
    border: none;
    padding: 5px !important;
    cursor: pointer;
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    height: 100px;
    margin: auto !important;
    cursor: pointer;
}
.section5 .btnleft{
    bottom: 0;
}
.section5 .btnright{
    right: 0;
}


/* <!-- Sixth section start --> */

.section6{
    padding: 4rem 150px 4rem 150px !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.89)),url('../images//bgcard.gif');
    background-attachment: fixed;
    overflow: hidden;
}
.section6div{
    padding-top: 0px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.carddiv{
    height: 450px;
    padding: 30px !important;
    width: 350px;
    background-color: white;
    color: black !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 10px !important;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px rgb(187, 212, 187);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.customofferlink{
    font-size: 20px;
    color: gray;
}
.carddiv:hover h1{
    font-size: 60px;
    transition:.4s;
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -ms-transition:.4s;
    -o-transition:.4s;
    -webkit-transition:.4s;
    top: 0;
    color: black;
    left: 10px;
}
.carddiv:hover .cardbuton{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    bottom: 0;
}
.carddiv h1{
    position: absolute;
    top: -30px;
    font-size: 150px;
    left: 0;
    color: rgba(128, 128, 128, 0.452);
    transition:0.4s ;
    -webkit-transition:0.4s ;
    -moz-transition:0.4s ;
    -ms-transition:0.4s ;
    -o-transition:0.4s ;
}
.features{
    padding-top:7rem !important ;
}
.carddiv h2{
    text-align: center !important;
    margin-top: 30px !important;
    font-size: 45px !important;
}
.carddiv h2 span{
    font-size: 16px;
}
.cardbuton{
    position: absolute;
    bottom: -34px;
    background-color: rgb(3, 167, 3);
    width: 100%;
    text-align: center;
    padding: 7px !important;
    left: 0;
    color: black;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/* <!-- Sixth section start --> */

.section7{
    padding: 30px !important;
}
.blogsection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.blogpost{
    color: black;
    height: 300px;
    width: 250px;
    overflow: hidden;
    background-color: honeydew;
    margin: 10px !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.imgdiv img{
    height: 180px;
    width: 250px;
    padding: 10px !important;
    background-color: honeydew;
}
.blogtitle{
    padding: 15px !important;
    padding-top: 0px !important;
}
.blogtitle h5{
    font-size: 15px !important;
}
.blogtitle p{
    font-size: 13px;
    color: grey;
}
.expendsbtn{
    font-size: 16px !important;
    color: white !important;
    text-align: center;
    background-color: rgb(4, 163, 4);
    margin-top: 35px !important;
    padding: 4px 10px !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.expendsbtn:hover{
    color: black !important;
    background-color: green;
}
.seemorediv{
    width: 100%;
}
.seemorebtn{
    color: black;
    background-color: rgb(4, 170, 4);
    padding: 5px 10px !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.section8{
    background-color: black;
    width: 100%;
    padding-top: 30px !important;
}
.section8div{
    display: flex;
    width: 100% !important;
    justify-content: center;
}
.section8 div{
    width: 50%;
}
.contactsection{
    padding: 30px !important;
}
form input, form textarea{
    width: 80%;
    padding: 8px !important;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(77, 76, 76);
    color: white;
    outline: 0px solid green;
    margin: 4px !important;
}
form input:focus{
    outline: 1px solid rgb(3, 197, 3);
}
label{
    margin-left: 4px !important;
}
textarea{
    height: 160px;
}
.sendbtnis{
    border: none;
    background-color: rgb(59, 59, 59) !important;
    padding: 5px 40px !important;
    margin-top: 10px !important;
    margin-left: 4px !important;
    cursor: pointer;
}
.sendbtnis:hover{
    background-color: rgb(3, 170, 3) !important;
}




footer{
    width: 100%;
    height: 50%;
    background-image:url(../images/footerbg.jpg);
    background-attachment:fixed;
    background-size: cover;
    padding: 10px !important;
    text-align: center;
}
footer a{
    color: rgb(59, 59, 59);
    margin: 5px !important;
    font-size: 15px;
}


/* postpagebody page setup */

.postpagebody{
    padding: 50px 200px 50px 200px !important;
}
.posthead p{
    color: gray;
}
.postimage{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 40px !important;
}
.postimage img{
    max-width: 30rem;
    text-align: center !important;
}
.postbodyis{
    margin-top: 30px !important;
}
.posthead{
    padding: 20px !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}


/* Post list page  */


.postcoverimage img{
    height: 100px;
    width: 130px;
    margin: 8px !important;
}
.postbody{
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
}
.titleandbody{
    padding: 0px 30px 0px 30px !important;
}
.titleandbody .dateautor{
    font-size: 14px;
    padding: 0 !important;
}
.titleandbody h4 a{
    color: white;
}
.titleandbody h4 a:hover{
    color: rgb(195, 197, 195);
}
.titleandbody p{
    color: rgb(150, 148, 148);
    padding-top: 6px !important;
    line-height: 1.2;
}
.titleandbody h4 a {
    color: white;
    text-decoration: none;
}





/* responsive code */


@media only screen and (min-width:200px) and (max-width:991px){
    .firstbgdiv{
        display: none;
    }
    .introname{
        width: 100% !important;
    }

    .section1 .introname {
        padding: 0px 50px 0px 60px !important;

    }
    .svgsapefirst {
        bottom: -17px;
    }
    .section2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem !important;
        flex-wrap: wrap !important;
        padding: 100px 0px 200px 0px !important;
    }
    .buttondiv{
        width: 100% !important;
    }
    .section2 .aboutme {
        padding: 0px 50px 0px 50px !important;
        text-align: justify;
        width: 100%;
    }
    .secondsidediv {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 0px 0px 0px !important;
    }
    .section3 {
        padding: 50px 50px 50px 50px !important;
        height: auto;
    }
    .carousel-item p {
        padding: 10px 50px 10px 50px !important;
        font-size: 15px;
    }
    .section5CoverDiv {
        margin: 1rem 0px 1rem 0px !important;
    }
    .section5::before {
        display: none;
    }
    .section6 {
        padding: 3rem 50px 3rem 50px !important;
    }
    .contactbg {
        display: none;
    }
    .contactsection{
        width: 100% !important;
    }
    form input, form textarea {
        width: 100%;
    }
    .postpagebody {
        padding: 50px 10px 50px 10px !important;
    }
    .postbody {
        margin-bottom: 25px !important;
    }
    .titleandbody h4{
        font-size: 18px;
    }
    .titleandbody p{
        font-size: 14px;
    }
}


/* Box type Portfolio */

.mainBodyInner{
    transform-style: preserve-3d;
    transform: rotateX(-6deg) rotateY(40deg);
    height: 300px;
    width: 500px;
    position: relative;
    transition: 01s linear ease-in-out;
    -webkit-transition: 01s linear ease-in-out;
    -moz-transition: 01s linear ease-in-out;
    -ms-transition: 01s linear ease-in-out;
    -o-transition: 01s linear ease-in-out;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform 1s ease-in-out;
}
.mainBodyInner div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
.mainBodyInner div span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBodyInner div span{
    height: 200px;
    width: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.mainBodyInner div span:nth-child(1){

    background-color: rgba(0, 0, 0, 0);
    transform: rotateY(0deg) translate3d(0,0,250px);
}
.mainBodyInner div span:nth-child(2){

    background-color: rgba(169, 142, 45, 0);
    transform: rotateY(90deg) translate3d(0,0,249px);
}
.mainBodyInner div span:nth-child(3){
 
    background-color: rgba(7, 250, 64, 0);
    transform: rotateY(-90deg) translate3d(0,0,250px);
}
.mainBodyInner div span:nth-child(4){

    background-color: rgba(232, 18, 18, 0);
    transform: rotateY(0deg) translate3d(0,0,-250px);
}
span img {
height: 200px;
width:150px;
margin: 0px auto;
}
.amin{
    -webkit-transition: -webkit-transform .8s ease-in-out;
-ms-transition: -ms-transform .8s ease-in-out;
transition: transform .8s ease-in-out;  
}
.posrtFlioBox3dBdy{
    display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70vh;
            overflow: hidden;
}
#pad{
    width: 100%;
    padding:50px !important;
    background-color: white;
    
}
.overAnim{
    position: relative;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
    width: fit-content !important;
    animation: hideShowanim1 1s linear;
    -webkit-animation: hideShowanim1 1s linear;
}
.overAnim::after{
    content: '';
    height: 100%;
    width: 0px;
    background-color: red;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: hideShowanim 1.5s linear;
    -webkit-animation: hideShowanim 1.5s linear;
    animation-delay: 0s;
}
@keyframes hideShowanim1 {
    0%{
        margin-left:-200px ;

    }100%{
        margin-left: 0px;
    }
}
@keyframes hideShowanim {
    0%{
       width: 100%;
       left: 0px;
    }40%{
        width: 100%;
       left: 0px;
    }100%{
        width: 0px;
        left: 700px;
    }
}

.leftCommingAnim{
    animation: comeFromLeft 0.4s linear;
    -webkit-animation: comeFromLeft 0.4s linear;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    margin-left:0px;
}
@keyframes comeFromLeft {
    from{
        margin-left: -100px !important;
    }to{
        margin-left: 0px !important;
    }
}






@media only screen and (min-width:200px) and (max-width:506px){

    #pad{
        display: none;
        
    }

    .section1 .introname,.section2 .aboutme,.section3,.section6{
        padding: 0px 10px 0px 10px !important;

    }
    .section6{
        padding-top: 100px !important;
    }
    .postbody {
        display: block;
    }
    .titleandbody {
        padding: 0px 10px 0px 10px !important;
    }



}
@media only screen and (min-width:200px) and (max-width:416px){
    .introname h1 {
        font-size: 40px;
    }
    .introname p span {
        font-size: 13px;
    }
    .carddiv {
        padding: 16px !important;
    }
    .section7 {
        padding: 10px !important;
    }
    .contactsection {
        padding: 10px !important;
    }
    form input, form textarea {
        margin: 0px !important;
    }
    .postcoverimage img {
        height: 200px;
        width: 95.5%;
        margin: 8px !important;
    }
    .titleandbody {
        padding: 0px 10px 0px 10px !important;
    }

}

@media only screen and (min-width:200px) and (max-width:336px){

    .introname h1 {
        font-size: 34px;
    }
  
}




























